In [42]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
file_path = "Data for repository.csv"
df = pd.read_csv(file_path)
df.head()

,Movie_Name,Release_Period,Whether_Remake,Whether_Franchise,Genre,New_Actor,New_Director,New_Music_Director,Lead_Star,Director,Music_Director,Number_of_Screens,Revenue(INR),Budget(INR)
0,Golden Boys,Normal,No,No,suspense,Yes,No,No,Jeet Goswami,Ravi Varma,Baba Jagirdar,5,5000000,85000
1,Kaccha Limboo,Holiday,No,No,drama,Yes,No,Yes,Karan Bhanushali,Sagar Ballary,Amardeep Nijjer,75,15000000,825000
2,Not A Love Story,Holiday,No,No,thriller,No,No,No,Mahie Gill,Ram Gopal Verma,Sandeep Chowta,525,75000000,56700000
3,Qaidi Band,Holiday,No,No,drama,Yes,No,No,Aadar Jain,Habib Faisal,Amit Trivedi,800,210000000,4500000
4,Chaatwali,Holiday,No,No,adult,Yes,Yes,Yes,Aadil Khan,Aadil Khan,Babloo Ustad,1,1000000,1075000

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1698 entries, 0 to 1697
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Movie_Name          1698 non-null   object
 1   Release_Period      1698 non-null   object
 2   Whether_Remake      1698 non-null   object
 3   Whether_Franchise   1698 non-null   object
 4   Genre               1698 non-null   object
 5   New_Actor           1698 non-null   object
 6   New_Director        1698 non-null   object
 7   New_Music_Director  1698 non-null   object
 8   Lead_Star           1698 non-null   object
 9   Director            1698 non-null   object
 10  Music_Director      1698 non-null   object
 11  Number_of_Screens   1698 non-null   int64
 12  Revenue(INR)        1698 non-null   int64
 13  Budget(INR)         1698 non-null   int64
dtypes: int64(3), object(11)
memory usage: 185.8+ KB

In [45]:
df.describe()

       Number_of_Screens  Revenue(INR)   Budget(INR)
count        1698.000000  1.698000e+03  1.698000e+03
mean          553.831567  1.501674e+08  2.377287e+08
std           782.951839  2.434838e+08  6.134398e+08
min             1.000000  3.250000e+05  7.250000e+03
25%            30.000000  1.500000e+07  1.150000e+06
50%           200.000000  5.500000e+07  1.240000e+07
75%           800.000000  1.900000e+08  1.778325e+08
max          4600.000000  2.100000e+09  8.016120e+09

In [46]:
data.isnull().sum()

Movie_Name            0
Release_Period        0
Whether_Remake        0
Whether_Franchise     0
Genre                 0
New_Actor             0
New_Director          0
New_Music_Director    0
Lead_Star             0
Director              0
Music_Director        0
Number_of_Screens     0
Revenue(INR)          0
Budget(INR)           0
Profit                0
dtype: int64

In [48]:
# Count of Movies by Genre
genre_counts = df['Genre'].value_counts()
genre_counts

Genre
drama           639
comedy          284
thriller        212
love_story      133
action          127
rom__com         95
adult            78
horror           53
suspense         30
masala           16
mythological     14
fantasy          13
animation         3
documentary       1
Name: count, dtype: int64

In [53]:
# Revenue vs. Budget Analysis
df['Profit'] = df['Revenue(INR)'] - df['Budget(INR)']
profit_summary = df.groupby('Genre')['Profit'].mean().sort_values()

In [54]:
# Trends Based on Release Period
release_period_counts = df['Release_Period'].value_counts()
release_period_counts

Release_Period
Normal     1064
Holiday     634
Name: count, dtype: int64

In [56]:

#  Analysis of Remakes and Franchises
remake_counts = df['Whether_Remake'].value_counts()
franchise_counts = df['Whether_Franchise'].value_counts()
franchise_counts

Whether_Franchise
No     1616
Yes      82
Name: count, dtype: int64

In [57]:
# Correlation Between New Talent and Revenue
new_actor_revenue = df.groupby('New_Actor')['Revenue(INR)'].mean()
new_director_revenue =df.groupby('New_Director')['Revenue(INR)'].mean()
new_music_director_revenue = df.groupby('New_Music_Director')['Revenue(INR)'].mean()

In [58]:
print("\nAverage Revenue by New Talent:")
print("New Actor:", new_actor_revenue)
print("New Director:", new_director_revenue)
print("New Music Director:", new_music_director_revenue)

Average Revenue by New Talent:
New Actor: New_Actor
No     1.869524e+08
Yes    4.967560e+07
Name: Revenue(INR), dtype: float64
New Director: New_Director
No     2.192259e+08
Yes    7.552331e+07
Name: Revenue(INR), dtype: float64
New Music Director: New_Music_Director
No     1.898439e+08
Yes    6.823615e+07
Name: Revenue(INR), dtype: float64

In [ ]:
# Genre Distribution
plt.figure(figsize=(10, 6))
sns.countplot(data=df, x='Genre', order=genre_counts.index)
plt.title("Movie Count by Genre")
plt.xticks(rotation=90)
plt.show()

In [ ]:
# Revenue vs. Budget Scatter Plot
plt.figure(figsize=(10, 6))
sns.scatterplot(data=df, x='Budget(INR)', y='Revenue(INR)', hue='Genre')
plt.title("Revenue vs. Budget")
plt.xscale('log')
plt.yscale('log')
plt.show()

In [ ]:
#  Profit by Genre
plt.figure(figsize=(10, 6))
profit_summary.plot(kind='bar', color='skyblue')
plt.title("Average Profit by Genre")
plt.ylabel("Profit (INR)")
plt.show()

In [ ]:
#  Release Period Distribution
plt.figure(figsize=(6, 4))
release_period_counts.plot(kind='bar', color='lightgreen')
plt.title("Movie Count by Release Period")
plt.show()

In [ ]:
#  Impact of New Talent on Revenue
plt.figure(figsize=(10, 6))
new_actor_revenue.plot(kind='bar', color='orange', label='New Actor')
new_director_revenue.plot(kind='bar', color='blue', label='New Director')
new_music_director_revenue.plot(kind='bar', color='green', label='New Music Director')
plt.title("Impact of New Talent on Revenue")
plt.ylabel("Average Revenue (INR)")
plt.legend()
plt.show()

# Insights from the Analysis
1. **Genre Popularity**: Which genres are most common in the dataset.
2. **Profitability** : Which genres generate the highest profits.
3. **Release Period Trends** : Whether holiday releases perform better than normal releases.
4. **Remakes and Franchises** : Their prevalence and potential impact on revenue.
5. **New Talent** : Whether new actors, directors, or music directors correlate with higher revenues.